extends layout

block css
  link(rel='stylesheet', href='/stylesheets/chapter.css')

block content
  div(class='jumbotron')
    block page
  nav
    ul(class='pager')
      li #[a(id='pager-previous' href='#') Previous]
      li #[a(id='pager-next' href='#') Next]
  div
    p(id='page-count' class='text-center') #[small Page #{pageNumber} of 18]

block javascript
  script(src='/javascripts/chapter.js')