extends layout

block content
  div(class='jumbotron')
    h1 KuleReader 0.1
    p.
      Thanks for participating in our experiment for KuleReader! Our goal is to improve the reading experience by using 
      colors to help you remember characters: who they are and what they did. This should take approximately 30 minutes
      with time for feedback at the end. The book you'll be reading today is #[i A Game of Thrones] (Book 1)
      of the #[strong A Song of Ice and Fire] series (better known as #[strong A Game of Thrones]).
    p Please #[span#enable enable] JavaScript and Cookies before continuing!
    p
      a(class='btn btn-success btn-lg' href='/user_info') Get Started!