extends layout

block content
  div(class='jumbotron')
    h1 KuleReader 0.2
    p.
      Thanks for participating in our experiment for KuleReader! We are trying to understand how well readers retain 
      information when they read books, especially fantasy novels that contain a large number of characters. For this
      study, we will be using the first couple of chapters from the book #[strong A Game of Thrones] (Book 1 of the 
      #[i A Song of Ice and Fire] series).
    p.
      This experiment should take roughly 30 minutes and will include a brief survey, the two chapters which you will read
      and finally a questionnaire to test your retention. There will be space for open feedback at the end. No additional
      material or experience is required. Please avoid looking up the answers to the questions at the end!
    p.
      Be sure to #[span.red enable] JavaScript and Cookies before continuing. Thanks again for your participation!
    p.text-center - #[i Irfan & Vince]
    p
      a(class='btn btn-success btn-lg' href='/user_info') Get Started!