extends layout

block content
  div(class='jumbotron')
    h1 Assignment Testing
    div
      p Condition A Total: #{a_result[0]}, #{a_result[1]}% 
      p Condition B Total: #{b_result[0]}, #{b_result[1]}%