extends layout

block content
  div(class='jumbotron')
    h1 Quiz
    p.
      Question 1: What has Bran done when faced with difficulty of not being to communicate with his father about the situation he is in?
    p.  
      Click Finish test to submit results.  
    p
      a(class='btn btn-success btn-lg' href='/page/submit') Finish test!