extends layout

block content
  div(class='jumbotron')
    h1 Reading completed - Thank you !
    p.
      After reading this chapter it is time for a quick quiz.
      Click the button when ready.
    p
      a(class='btn btn-success btn-lg' href='/test') Click here for quick quiz!