#chapter-title {
  margin-top: 0px;
  margin-bottom: 20px;
}

#page-container {
  margin-bottom: 15px;
}

.page {
  font-family: 'Merriweather', serif;
  font-size: 17px !important;
  text-align: justify;
}

.pager {
  margin-bottom: 10px;

  li:first-child {
    margin-right: 10px;
  }
}

#page-count {
  margin-bottom: 30px;
}

#timeline-container {
  padding: 15px;
  background-color: #eee;
  border-radius: 6px;
}