#chapter-title {
  margin-top: 0px;
  margin-bottom: 20px;
}

.page {
  font-family: 'Merriweather', serif;
  font-size: 18px !important;
  text-align: justify;
}

.pager {
  margin-bottom: 50px;

  li:first-child {
    margin-right: 10px;
  }
}