#chapter-title {
  margin-top: 0px;
  margin-bottom: 20px;
}

.page {
  font-family: 'Merriweather', serif;
  font-size: 19px !important;
}

.pager {
  margin-bottom: 10px;

  li:first-child {
    margin-right: 10px;
  }
}

#page-count {
  margin-bottom: 30px;
}