@import url(https://fonts.googleapis.com/css?family=Merriweather);

body {
  /*background-color: #fcfcfc;*/
  background-color : #777777;
  padding-top: 70px;
}

#content {
  margin-top: 20px;
}

// Logo Colors
.logo-c0 {
  color: #FF0000;
}

.logo-c1 {
  color: #FF6600;
}

.logo-c2 {
  color: #FFD700;
}

.logo-c3 {
  color: #00FF00;
}

.logo-c4 {
  color: #0099FF;
}