extends ../chapter

block page
  h1(id='chapter-title') Prologue
  p(class='page').
    The comet's tail spread across the dawn, a red slash that bled above the crags of Dragonstone
    like a wound in the pink and purple sky.
    The maester stood on the windswept balcony outside his chambers. It was here the ravens
    came, after long flight. Their droppings speckled the gargoyles that rose twelve feet tall on either
    side of him, a hellhound and a wyvern, two of the thousand that brooded over the walls of the
    ancient fortress. When first he came to Dragonstone, the army of stone grotesques had made him
    uneasy, but as the years passed he had grown used to them. Now he thought of them as old
    friends. The three of them watched the sky together with foreboding.
    The maester did not believe in omens. And yet... old as he was, #[span.name.cressen Cressen] had never seen a comet
    half so bright, nor yet that color, that terrible color, the color of blood and flame and sunsets. He
    wondered if his gargoyles had ever seen its like. They had been here so much longer than he had,
    and would still be here long after he was gone. If stone tongues could speak...
    Such folly. He leaned against the battlement, the sea crashing beneath him, the black stone
    rough beneath his fingers. Talking gargoyles and prophecies in the sky. I am an old done man,
    grown giddy as a child again. Had a lifetime's hard-won wisdom fled him along with his health
    and strength? He was a maester, trained and chained in the great Citadel of Oldtown. What had
    he come to, when superstition filled his head as if he were an ignorant fieldhand?
    And yet... and yet... the comet burned even by day now, while pale grey steam rose from the hot
    vents of Dragonmont behind the castle, and yestermorn a white raven had brought word from them
    Citadel itself, word long-expected but no less fearful for all that, word of summer's end. Omens,
    all. Too many to deny. What does it all mean? he wanted to cry.
    "#[span.name.cressen Maester Cressen], we have visitors." #[span.name.pylos Pylos] spoke softly, as if loath to disturb #[span.name.cressen Cressen]'s solemn
    meditations. Had he known what drivel filled his head, he would have shouted. "The princess
    would see the white raven." Ever correct, #[span.name.pylos Pylos] called her princess now, as her lord father was a
    king. King of a smoking rock in the great salt sea, yet a king nonetheless. "Her fool is with her."