extends ../chapter

block page
	p(class='page').
		"There is another way." Lady Selyse moved closer. "Look out your windows, my lord. There is the sign you have
		waited for, blazoned on the sky. Red, it is, the red of flame, red for the fiery heart of the true god. it is his
		banner-and yours! See how it unfurls across the heavens like a dragon's hot breath, and you the Lord of Dragonstone.
		It means your time has come, Your Grace. Nothing is more certain. You are meant to sail from this desolate rock as Aegon
		the Conqueror once sailed, to sweep all before you as he did. only say the word, and embrace the power of the Lord of
		Light."
		"How many swords will the Lord of Light put into my hand?" Stannis demanded again.
		"All you need," his wife promised, "The swords of Storm's End and Highgarden for a start, and all their lords
		bannermen."
		"Davos would tell you different," Stannis said. "Those swords are sworn to Renly. They love my charming young
		brother, as they once loved Robert... and as they have never loved me."
		"Yes," she answered, "but if Renly should die..."
		Stannis looked at his lady with narrowed eyes, until Cressen could not hold his tongue. "it is not to be thought. Your
		Grace, whatever follies Renly has committed-"
		"Follies? I call them treasons." Stannis turned back to his wife. "My brother is young and strong, and he has a
		vast host around him, and these rainbow knights of his."
		"Melisandre has gazed into the flames, and seen him dead."
		Cressen was horrorstruck. "Fratricide... my lord, this is evil, unthinkable... please, listen to me." Lady Selyse
		gave him a measured look. "And what will you tell him, Maester? How he might
		win half a kingdom if he goes to the Starks on his knees and sells our daughter to Lysa Arryn?" "I have heard your
		counsel, Cressen," Lord Stannis said. "Now I will hear hers. You are
		dismissed."
		Maester Cressen bent a stiff knee. He could feel Lady Selyse's eyes on his back as he shuffled
		slowly across the room. By the time he reached the bottom of the steps it was all he could do to stand erect. "Help
		me," he said to Pylos.
		When he was safe back in his own rooms, Cressen sent the younger man away and limped to his balcony once more, to stand
		between his gargoyles and stare out to sea. One of Salladhor Saan's warships was sweeping past the castle, her gaily
		striped hull slicing through the greygreen waters as her oars rose and fell. He watched until she vanished behind a
		headland. Would that my fears could vanish so easily. Had he lived so long for this?
		When a maester donned his collar, he put aside the hope of children, yet Cressen had oft felt a father nonetheless.
		Robert, Stannis, Renly... three sons he had raised after the angry sea claimed Lord Steffon. Had he done so ill that now
		he must watch one kill the other? He could not allow it, would not allow it.
		The woman was the heart of it. Not the Lady Selyse, the other one. The red woman, the servants had named her, afraid to
		speak her name. "I will speak her name," Cressen told his stone hellhound. "Melisandre. Her." Melisandre of
		Asshai, sorceress, shadowbinder, and priestess to R'hllor, the Lord of Light, the Heart of Fire, the God of Flame and
		Shadow. Melisandre, whose madness must not be allowed to spread beyond Dragonstone.