extends ../chapter

block page
	p(class='page').
		The maester found the crystals where he had left them, and scooped them off the parchment. Cressen owned no hollow
		rings, such as the poisoners of Lys were said to favor, but a myriad of pockets great and small were sewn inside the
		loose sleeves of his robe. He secreted the strangler seeds in one of them, threw open his door, and called, "Pylos?
		Where are you?" When he heard no reply, he called again, louder. "Pylos, I need help." Still there came no answer.
		That was queer; the young maester had his cell only a half turn down the stair, within easy earshot.
		In the end, Cressen had to shout for the servants. "Make haste," he told them. "I have slept too long. They will
		be feasting by now... drinking... I should have been woken." What had happened to Maester Pylos? Truly, he did not
		understand.
		Again he had to cross the long gallery. A night wind whispered through the great windows, sharp with the smell of the
		sea. Torches flickered along the walls of Dragonstone, and in the camp beyond, he could see hundreds of cookfires
		burning, as if a field of stars had fallen to the earth. Above, the comet blazed red and malevolent. I am too old and
		wise to fear such things, the maester told himself.
		The doors to the Great Hall were set in the mouth of a stone dragon. He told the servants to leave him outside. It would
		be better to enter alone; he must not appear feeble. Leaning heavily on his cane, Cressen climbed the last few steps and
		hobbled beneath the gateway teeth. A pair of guardsmen opened the heavy red doors before him, unleashing a sudden blast
		of noise and light. Cressen stepped down into the dragon's maw.
		Over the clatter of knife and plate and the low mutter of table talk, he heard Patchface singing,"... dance, my lord,
		dance my lord," to the accompaniment of jangling cowbells. The same dreadful song he'd sung this morning. "The
		shadows come to stay, my lord, stay my lord, stay my lord." The lower tables were crowded with knights, archers, and
		sellsword captains, tearing apart loaves of black bread to soak in their fish stew. Here there was no loud laughter, no
		raucous shouting such as marred the dignity of other men's feasts; Lord Stannis did not permit such.
		Cressen made his way toward the raised platform where the lords sat with the king. He had to step wide around Patchface.
		Dancing, his bells ringing, the fool neither saw nor heard his approach. As he hopped from one leg to the other,
		Patchface lurched into Cressen, knocking his cane out from under him. They went crashing down together amidst the rushes
		in a tangle of arms and legs, while a sudden gale of laughter went up around them. No doubt it was a comical sight.
		Patchface sprawled half on top of him, motley fool's face pressed close to his own. He had lost his tin helm with its
		antlers and bells. "Under the sea, you fall up," he declared. "I know, I know, oh, oh, oh." Giggling, the fool
		rolled off, bounded to his feet, and did a little dance.
		Trying to make the best of it, the maester smiled feebly and struggled to rise, but his hip was in such pain that for a
		moment he was half afraid that he had broken it all over again. He felt strong hands grasp him under the arms and lift
		him back to his feet. "Thank you, ser," he murmured, turning to see which knight had come to his aid...