extends ../chapter

block page
  p(class="page").
    The fool turned his patched and piebald head to watch #[span.name.pylos Pylos] climb the steep iron steps to the rookery. His bells rang
    with the motion. #[span.name.patchface "Under the sea, the birds have scales for feathers,"] he said, clang-a-langing. 
    #[span.name.patchface "I know, I know, oh, oh, oh."]
    Even for a fool, #[span.name.patchface Patchface] was a sorry thing. Perhaps once he could evoke gales of laughter with a quip, but the sea had
    taken that power from him, along with half his wits and all his memory. He was soft and obese, subject to twitches and
    trembles, incoherent as often as not. The girl was the only one who laughed at him now, the only one who cared if he
    lived or died.
    An ugly little girl and a sad fool, and maester makes three... now there is a tale to make men weep. 
    #[span.name.cressen "Sit with me, child." Cressen] beckoned her closer. 
    #[span.name.cressen "This is early to come calling, scarce past dawn. You should be snug in your bed."]
    #[span.name.shireen "I had bad dreams," Shireen] told him. #[span.name.shireen "About the dragons. They were coming to eat me."]
    The child had been plagued by nightmares as far back as #[span.name.cressen Maester Cressen] could recall. 
    #[span.name.cressen "We have talked of this before,"] he said gently. 
    <span class='name cressen'>"The dragons cannot come to life. They are carved of stone, child. In olden days, our
    island was the westernmost outpost of the great Freehold of Valyria. It was the Valyrians who raised this citadel, and
    they had ways of shaping stone since lost to us. A castle must have towers wherever two walls meet at an angle, for
    defense. The Valyrians fashioned these towers in the shape of dragons to make their fortress seem more fearsome, just
    as they crowned their walls with a thousand gargoyles instead of simple crenellations."</span> He took her small pink hand in
    his own frail spotted one and gave it a gentle squeeze. #[span.name.cressen "So you see, there is nothing to fear."]
    #[span.name.shireen Shireen] was unconvinced. <span class='name shireen'>"What about the thing in the sky? Dalla and Matrice were talking by the well, and Dalla said
        she heard the red woman tell Mother that it was dragons breath. If the dragons are breathing, doesn't that mean they
        are coming to life?"</span>
    The red woman, #[span.name.cressen Maester Cressen] thought sourly. It's enough that she's filled the head of the mother with her
    madness, must she poison the daughter's dreams as well? He would have a stern word with #[span.name.dalla Dalla], warn her not to spread
    such tales. <span class='name cressen'>"The thing in the sky is a comet, sweet child. A star with a tail, lost in the heavens. It will be gone
        soon enough, never to be seen again in our lifetimes. Watch and see."</span>
    #[span.name.shireen Shireen] gave a brave little nod. #[span.name.shireen "Mother said the white raven means it's not summer anymore."]
    #[span.name.cressen "That is so, my lady. The white ravens fly only from the Citadel." Cressen's] fingers went to the chain about his
    neck, each link forged from a different metal, each symbolizing his mastery of another branch of learning; the
    maester's collar, mark of his order. In the pride of his youth, he had worn it easily, but now it seemed heavy to him,
    the metal cold against his skin. <span class='name cressen'>"They are larger than other ravens, and more clever, bred to carry only the most
        important messages. This one came to tell us that the Conclave has met, considered the reports and measurements made by
        maesters all over the realm, and declared this great summer done at last. Ten years, two turns, and sixteen days it
        lasted, the longest summer in living memory."</span>
    #[span.name.shireen "Will it get cold now?" Shireen] was a summer child, and had never known true cold.
    #[span.name.cressen "In time," Cressen] replied. <span class='name cressen'>"If the gods are good, they will grant us a warm autumn and bountiful harvests, so we
        might prepare for the winter to come."</span> The smallfolk said that a long