extends ../chapter

block page
  p(class='page').
    summer meant an even longer winter, but the maester saw no reason to frighten the child with such tales.
    Patchface rang his bells. "It is always summer under the sea," he intoned. "The merwives wear nennymoans in their
    hair and weave gowns of silver seaweed. I know, I know, oh, oh, oh."
    Shireen giggled. "I should like a gown of silver seaweed."
    "Under the sea, it snows up," said the fool, "and the rain is dry as bone. I know, I know, oh, oh, oh."
    "Will it truly snow?" the child asked.
    "It will," Cressen said. But not for years yet, I pray, and then not for long. "Ah, here is Pylos with the
    bird."
    Shireen gave a cry of delight. Even Cressen had to admit the bird made an impressive sight, white as snow and larger
    than any hawk, with the bright black eyes that meant it was no mere albino, but a truebred white raven of the Citadel.
    "Here," he called. The raven spread its wings, leapt into the air, and flapped noisily across the room to land on
    the table beside him.
    "I'll see to your breakfast now," Pylos announced. Cressen nodded. "This is the Lady Shireen," he told the
    raven. The bird bobbed its pale head up and down, as if it were bowing. "Lady," it croaked. "Lady."
    The child's mouth gaped open. "It talks!"
    "A few words. As I said, they are clever, these birds."
    "Clever bird, clever man, clever clever fool," said Patchface, jangling. "Oh, clever clever clever
    fool." He began to sing. "The shadows come to dance, my lord, dance my lord, dance my lord," he sang, hopping from
    one foot to the other and back again. "The shadows come to stay, my lord, stay my lord, stay my lord." He jerked his
    head with each word, the bells in his antlers sending up a clangor.
    The white raven screamed and went flapping away to perch on the iron railing of the rookery stairs. Shireen seemed to
    grow smaller. "He sings that all the time. I told him to stop but he won't. It makes me scared. Make him stop."
    And how do I do that? the old man wondered. Once I might have silenced him forever, but now...
    Patchface had come to them as a boy. Lord Steffon of cherished memory had found him in Volantis, across the narrow sea.
    The king-the old king, Aerys II Targaryen, who had not been quite so mad in those days, had sent his lordship to seek a
    bride for Prince Rhaegar, who had no sisters to wed. "We have found the most splendid fool," he wrote Cressen, a
    fortnight before he was to return home from his fruitless mission. "Only a boy, yet nimble as a monkey and witty as a
    dozen courtiers. He juggles and riddles and does magic, and he can sing prettily in four tongues. We have bought his
    freedom and hope to bring him home with us. Robert will be delighted with him, and perhaps in time he will even teach
    Stannis how to laugh."
    It saddened Cressen to remember that letter. No one had ever taught Stannis how to laugh, least of all the boy
    Patchface. The storm came up suddenly, howling, and Shipbreaker Bay proved the truth of its name. The lord's
    two-masted galley Windproud broke up within sight of his castle.