extends ../chapter

block page
	p(class='page').
		Shireen and Patchface followed them out, but the child soon grew restless with the old man's creeping pace and dashed
		ahead, the fool lurching after her with his cowbells clanging madly.
		Castles are not friendly places for the frail, Cressen was reminded as he descended the turnpike stairs of Sea Dragon
		Tower. Lord Stannis would be found in the Chamber of the Painted Table, atop the Stone Drum, Dragonstone's central
		keep, so named for the way its ancient walls boomed and rumbled during storms. To reach him they must cross the gallery,
		pass through the middle and inner walls with their guardian gargoyles and black iron gates, and ascend more steps than
		Cressen cared to contemplate. Young men climbed steps two at a time; for old men with bad hips, everyone was a torment.
		But Lord Stannis would not think to come to him, so the maester resigned himself to the ordeal. He had Pylos to help
		him, at the least, and for that he was grateful.
		Shuffling along the gallery, they passed before a row of tall arched windows with commanding views of the outer bailey,
		the curtain wall, and the fishing village beyond. in the yard, archers were firing at practice butts to the call of
		"Notch, draw, loose." Their arrows made a sound like a flock of birds taking wing. Guardsmen strode the wallwalks,
		peering between the gargoyles on the host camped without. The morning air was hazy with the smoke of cookfires, as three
		thousand men sat down to break their fasts beneath the banners of their lords. Past the sprawl of the camp, the
		anchorage was crowded with ships. No craft that had come within sight of Dragonstone this past half year had been
		allowed to leave again. Lord Stannis's Fury, a triple- decked war galley of three hundred oars, looked almost small
		beside some of the big-bellied carracks and cogs that surrounded her.
		The guardsmen outside the Stone Drum knew the maesters by sight, and passed them through. "Wait here," Cressen told
		Pylos, within. "It's best I see him alone."
		"It is a long climb, Maester."
		Cressen smiled. "You think I have forgotten? I have climbed these steps so often I know each one by name."
		Halfway up, he regretted his decision. He had stopped to catch his breath and ease the pain in his hip when he heard the
		scuff of boots on stone, and came face-to-face with Ser Davos Seaworth, descending.
		Davos was a slight man, his low birth written plain upon a common face. A well-worn green cloak, stained by salt and
		spray and faded from the sun, draped his thin shoulders, over brown doublet and breeches that matched brown eyes and
		hair. About his neck a pouch of worn leather hung from a thong. His small beard was well peppered with grey, and he wore
		a leather glove on his maimed left hand. When he saw Cressen, he checked his descent.
		"Ser Davos," the maester said. "When did you return?"
		"In the black of morning. My favorite time." It was said that no one had ever handled a ship by night half so well
		as Davos Shorthand. Before Lord Stannis had knighted him, he had been the most notorious and elusive smuggler in all the
		Seven Kingdoms.
		"And?"