extends ../chapter

block page
	p(class='page').
		had never known how to laugh. Sometimes when the world grew very still and silent of a night, Maester Cressen fancied he
		could hear Lord Stannis grinding his teeth half a castle away.
		"Once you would have woken me," the old man said.
		"Once you were young. Now you are old and sick, and need your sleep." Stannis had never learned to soften his
		speech, to dissemble or flatter; he said what he thought, and those that did not like it could be damned. "I knew
		you'd learn what Davos had to say soon enough. You always do, don't you?"
		"I would be of no help to you if I did not," Cressen said. "I met Davos on the stair."
		"And he told all, I suppose? I should have had the man's tongue shortened along with his fingers."
		"He would have made you a poor envoy then."
		"He made me a poor envoy in any case. The storm lords will not rise for me. It seems they do not like me, and the
		justice of my cause means nothing to them. The cravenly ones will sit behind their walls waiting to see how the wind
		rises and who is likely to triumph. The bold ones have already declared for Renly. For Renly!" He spat out the name
		like poison on his tongue.
		"Your brother has been the Lord of Storm's End these past thirteen years. These lords are his sworn bannermen-"
		"His," Stannis broke in, "when by rights they should be mine. I never asked for Dragonstone. I never wanted it. I
		took it because Robert's enemies were here and he commanded me to root them out. I built his fleet and did his work,
		dutiful as a younger brother should be to an elder, as Renly should be to me. And what was Robert's thanks? He names
		me Lord of Dragonstone, and gives Storm's End and its incomes to Renly. Storm's End belonged to House Baratheon for
		three hundred years; by rights it should have passed to me when Robert took the Iron Throne."
		It was an old grievance, deeply felt, and never more so than now. Here was the heart of his lord's weakness; for
		Dragonstone, old and strong though it was, commanded the allegiance of only a handful of lesser lords, whose stony
		island holdings were too thinly peopled to yield up the men that Stannis needed. Even with the sellswords he had brought
		across the narrow sea from the Free Cities of Myr and Lys, the host camped outside his walls was far too small to bring
		down the power of House Lannister.
		"Robert did you an injustice," Maester Cressen replied carefully, "yet he had sound reasons. Dragonstone had long
		been the seat of House Targaryen. He needed a man's strength to rule here, and Renly was but a child."
		"He is a child still," Stannis declared, his anger ringing loud in the empty hall, "a thieving child who thinks to
		snatch the crown off my brow. What has Renly ever done to earn a throne? He sits in council and jests with Littlefinger,
		and at tourneys he dons his splendid suit of armor and allows himself to be knocked off his horse by a better man. That
		is the sum of my brother Renly, who thinks he ought to be a king. I ask you, why did the gods inflict me with
		brothers?"
		"I cannot answer for the gods."
		"You seldom answer at all these days, it seems to me. Who maesters for Renly? Perchance I should send for him, I might
		like his counsel better. What do you think this maester said when