extends ../layout

block content
  div(class='jumbotron')
    h1 Reading Completed - Thank You!
    p After reading this chapter it is time for a quick quiz. Click the button when ready.
    a(class='btn btn-success btn-lg' href='/test/questions') Go to Quiz