extends ../layout

block content
  div(class='jumbotron')
    h2 Reading Completed, Thanks!
    p.
      It is now time for a quick quiz to test your retention. #[strong Please] refrain from cheating! 
      Click the button when you're ready.
    a(class='btn btn-warning btn-lg' href='/test/questions') Continue