extends ../layout

block content
  div(class='jumbotron')
    h1 Quiz
    h4.
      Answer the following questions based #[span.red ONLY] on what you have read in the previous two chapters. Try your
      best, move quickly and don't stress about getting it wrong!
    form(name='quiz-form' method="post" action="/save_questions")
      - var questions = []
      - questions.push("Who is Harwin?")
      - questions.push("How many deserters were there from the Night's Watch this year, according to Eddard?")
      - questions.push("What kind of animal was Bran riding, specifically?")
      - questions.push("What is the relationship between Bran and Jon?")
      - questions.push("Who said that there have been no direwolf sightings in two hundred years?")
      - questions.push("How many children does Lord Eddard Stark have, in total?")
      - questions.push("Who found the direwolves first?")
      - questions.push("Who is Jory Cassel?")
      - questions.push("Who thought the deserter died bravely?")
      - questions.push("What is the queen's name?")
      - questions.push("What did Eddard say about the dead direwolf?")
      - questions.push("What does Eddard Stark call the tree at the center of the godswood?")
      - questions.push("How does Eddard Stark know Robert Baratheon?")
      - questions.push("Who received the albino direwolf pup?")
      - questions.push("Which child were Caitlyn and Eddard proud of?")

      - for(var i = 1; i < 16; i++) {
        div.form-group
          label Question #{i}: #{questions[i-1]}
          input(type='text', name='q#{i}', class='form-control', placeholder='Answer', required)
      - }
      br
      div.form-group
        label Open Feedback: Questions, Comments, Concerns?
        textarea(name='feedback' class='form-control' placeholder='Optional' rows='4')
      button(type="submit").btn.btn-success.btn-lg Submit!