extends ../layout

block content
  div(class='jumbotron')
    h2 Quiz, try to answer best to your knowledge
    form(name='quiz-form' method="post" action="/save_questions")
      div.form-group
        label Question 1: Provide number of children of Lord Eddard Stark that are mentioned in the chapters you have read?
        input(type="text", name="q1", class='form-control', placeholder="type answer", required)
      div.form-group
        label Question 2: What is relationship between Bran and Jon Snow ?
        input(type="text", name="q2", class='form-control', placeholder="type answer" required)
      div.form-group
        label Question 3: What kind of animal was Bran riding to the place of beheading ?
        input(type='text' name="q3" class='form-control', placeholder='type answer', required)
      div.form-group
        label Question 4: Who found the direwolfs first ?
        input(type='text' name="q4" class='form-control', placeholder='type answer', required)
      div.form-group
        label Question 5: Did Robb wanted to kill the direwolf pup or was it Greyjoy ?
        input(type='text' name="q5" class='form-control', placeholder='type answer', required)
      div.form-group
        label Question 6: What was the name of the bastard of Eddard Stark, was it Robb, Jon or Greyjoy ?
        input(type='text' name="q6" class='form-control', placeholder='type answer', required)
      div.form-group
        label Question 7: Who got the white direwolf pup?
        input(type='text' name="q7" class='form-control', placeholder='type answer', required)
      div.form-group
        label Question 8: What was the name of the bastard of Eddard Stark, was it Robb, Jon or Greyjoy ?
        input(type='text' name="q8" class='form-control', placeholder='type answer', required)
      div.form-group
        label Question 9: Catlyn and Ned Stark were specially proud of one of their children can you name it?
        input(type='text' name="q9" class='form-control', placeholder='type answer', required)
      div.form-group
        label Question 10: News that Jon Arryn passed away that shocked Ned. What was relationship between Jon Arryn and Ned Stark?
        input(type='text' name="q10" class='form-control', placeholder='type answer', required)
      div.form-group
        label Question 11: Somebody important is coming to visit Ned Stark at the Winterfel, can you remember what is the name of that person ?
        input(type='text' name="q11" class='form-control', placeholder='type answer', required)
      div.form-group
        label Open Feedback: Questions, Comments, Concerns?
        textarea(name='feedback' class='form-control' rows='4')
      button(type="submit").btn.btn-success.btn-lg Submit!