extends ../layout

block content
  div(class='jumbotron')
    center #[h1 Thank You!]
    p.
      You're all done! We'll be sure to let you know about our results when we finish this study. Please contact us if
      you have any further comments, questions or concerns.
    p You have our eternal gratitude for participating and remember, #[i Winter is Coming....]
    p.text-center - #[i Irfan & Vince]