extends ../layout

block content
  div(class='jumbotron')
    h1 Thank you !
    p.
      You have answered all the questions correctly ! 
      You can collect your reward at UCSD CSE deparment building room 4140 from 7-7.30 AM on Sunday Dec 13th.