extends ../chapter

block page
  p.page.
    #[span.name.ned "Yes, of course,"] he agreed. #[span.name.ned "Ben will want to be here. I shall tell Maester Luwin to send his swiftest bird." Ned] 
    rose and pulled her to her feet. 
    #[span.name.ned "Damnation, how many years has it been? And he gives us no more notice than this? How many in his party, did the message say?"] 
    <span class='name catelyn'>"I should think a hundred
         knights, at the least, with all their retainers, and half again as many freeriders. Cersei and the children
         travel with them."</span> 
    #[span.name.ned "Robert will keep an easy pace for their sakes,"] he said. 
    #[span.name.ned "It is just as well. That will give us more time to prepare."] 
    #[span.name.catelyn "The queen's brothers are also in the party,"] she told him. #[span.name.ned Ned] grimaced at
    that. There was small love between him and the queen's family, #[span.name.catelyn Catelyn] knew. The Lannisters of Casterly Rock
    had come late to #[span.name.rob Robert&#39;s] cause, when victory was all but certain, and he had never forgiven them. 
    #[span.name.ned "Well, if the price for Robert&#39;s company is an infestation of Lannisters, so be it. It sounds as though Robert is bringing half his court."] 
    #[span.name.catelyn "Where the king goes, the realm follows,"] she said. 
    #[span.name.ned "It will be good to see the children. The youngest was still sucking at the Lannister woman&#39;s teat the last time I saw him. He must be, what, five by now?"] 
    #[span.name.catelyn "Prince Tommen is seven,"] she told him. 
    #[span.name.catelyn "The same age as Bran. Please, Ned, guard your tongue. The Lannister woman is our queen, and her pride is said to grow with every passing year."] 
    #[span.name.ned Ned] squeezed her hand. 
    <span class='name ned'>"There must be a feast, of course, with singers, and Robert will want to hunt. I shall send Jory
        south with an honor guard to meet them on the kingsroad and escort them back. Gods, how are we going to feed
        them all? On his way already, you said? Damn the man. Damn his royal hide."</span>