extends ../chapter

block page
  p(class='page').
    "Yes, of course," he agreed. "Ben will want to be here. I shall tell Maester Luwin
    to send his swiftest bird." Ned rose and pulled her to her feet. "Damnation, how many years has it been? And
    he gives us no more notice than this? How many in his party, did the message say?" "I should think a hundred
    knights, at the least, with all their retainers, and half again as many freeriders. Cersei and the children
    travel with them." "Robert will keep an easy pace for their sakes," he said. "It is just as well. That will
    give us more time to prepare." "The queen’s brothers are also in the party," she told him. Ned grimaced at
    that. There was small love between him and the queen’s family, Catelyn knew. The Lannisters of Casterly Rock
    had come late to Robert’s cause, when victory was all but certain, and he had never forgiven them. "Well, if
    the price for Robert’s company is an infestation of Lannisters, so be it. It sounds as though Robert is
    bringing half his court." "Where the king goes, the realm follows," she said. "It will be good to see the
    children. The youngest was still sucking at the Lannister woman’s teat the last time I saw him. He must be,
    what, five by now?" "Prince Tornmen is seven," she told him. "The same age as Bran. Please, Ned, guard your
    tongue. The Lannister woman is our queen, and her pride is said to grow with every passing year." Ned squeezed
    her hand. "There must be a feast, of course, with singers, and Robert will want to hunt. I shall send Jory
    south with an honor guard to meet them on the kingsroad and escort them back. Gods, how are we going to feed
    them all? On his way already, you said? Damn the man. Damn his royal hide."