extends ../chapter

block page
	p(class='page').
		His chambers seemed dim and gloomy after the brightness of the morning. With fumbling hands, the old man lit a candle
		and carried it to the workroom beneath the rookery stair, where his ointments, potions, and medicines stood neatly on
		their shelves. On the bottom shelf behind a row of salves in squat clay jars he found a vial of indigo glass, no larger
		than his little finger. It rattled when he shook it. Cressen blew away a layer of dust and carried it back to his table.
		Collapsing into his chair, he pulled the stopper and spilled out the vial’s contents. A dozen crystals, no larger than
		seeds, rattled across the parchment he’d been reading. They shone like jewels in the candlelight, so purple that the
		maester found himself thinking that he had never truly seen the color before.
		The chain around his throat felt very heavy. He touched one of the crystals lightly with the tip of his little finger.
		Such a small thing to hold the power of life and death. It was made from a certain plant that grew only on the islands
		of the Jade Sea, half a world away. The leaves had to be aged, and soaked in a wash of limes and sugar water and certain
		rare spices from the Summer Isles. Afterward they could be discarded, but the potion must be thickened with ash and
		allowed to crystallize. The process was slow and difficult, the necessaries costly and hard to acquire. The alchemists
		of Lys knew the way of it, though, and the Faceless Men of Braavos... and the maesters of his order as well, though it
		was not something talked about beyond the walls of the Citadel. All the world knew that a maester forged his silver link
		when he learned the art of healing-but the world preferred to forget that men who knew how to heal also knew how to
		kill. Cressen no longer recalled the name the Asshaii gave the leaf, or the Lysene poisoners the crystal. In the
		Citadel, it was simply called the strangler. Dissolved in wine, it would make the muscles of a man’s throat clench
		tighter than any fist, shutting off his windpipe. They said a victim’s face turned as purple as the little crystal
		seed from which his death was grown, but so too did a man choking on a morsel of food.
		And this very night Lord Stannis would feast his bannermen, his lady wife... and the red woman, Melisandre of Asshai.
		I must rest, Maester Cressen told himself. I must have all my strength come dark. My hands must not shake, nor my
		courage flag. It is a dreadful thing I do, yet it must be done. If there are gods, surely they will forgive me. He had
		slept so poorly of late. A nap would refresh him for the ordeal ahead. Wearily, he tottered off to his bed. Yet when he
		closed his eyes, he could still see the light of the comet, red and flery and vividly alive amidst the darkness of his
		dreams. Perhaps it is my comet, he thought drowsily at the last, just before sleep took him. An omen of blood,
		foretelling murder... yes...
		When he woke it was full dark, his bedchamber was black, and every joint in his body ached. Cressen pushed himself up,
		his head throbbing. Clutching for his cane, he rose unsteady to his feet. So late, he thought. They did not summon me.
		He was always summoned for feasts, seated near the salt, close to Lord Stannis. His lord’s face swam up before him,
		not the man he was but the boy he had been, standing cold in the shadows while the sun shone on his elder brother.
		Whatever he did, Robert had done first, and better. Poor boy... he must hurry, for his sake.