extends ../chapter

block page
	p(class='page').
		"No," he whispered hoarsely. "No."
		"As you will." Melisandre of Asshai took the cup from his hands and drank long and deep. There was only half a
		swallow of wine remaining when she offered it back to him. "And now yo u. "
		His hands were shaking, but he made himself be strong. A maester of the Citadel must not be afraid. The wine was sour on
		his tongue. He let the empty cup drop from his fingers to shatter on the floor. "He does have power here, my lord,"
		the woman said. "And fire cleanses." At her throat, the ruby shimmered redly.
		Cressen tried to reply, but his words caught in his throat. His cough became a terrible thin whistle as he strained to
		suck in air. Iron fingers tightened round his neck. As he sank to his knees, still he shook his head, denying her,
		denying her power, denying her magic, denying her god. And the cowbells peeled in his antlers, singing fool, fool, fool
		while the red woman looked down on him in pity, the candle flames dancing in her red red eyes.