extends ../chapter

block page
  p(class='page').
    The old man turned away from the dawn, keeping a hand on his wyvern to steady himself. "Help me to my chair and show
    them in."
    Taking his arm, Pylos led him inside. In his youth, Cressen had walked briskly, but he was not far from his eightieth
    name day now, and his legs were frail and unsteady. Two years past, he had fallen and shattered a hip, and it had never
    mended properly. Last year when he took ill, the Citadel had sent Pylos out from Oldtown, mere days before Lord Stannis
    had closed the isle... to help him in his labors, it was said, but Cressen knew the truth. Pylos had come to replace him
    when he died. He did not mind. Someone must take his place, and sooner than he would like...
    He let the younger man settle him behind his books and papers. "Go bring her. It is ill to keep a lady waiting." He
    waved a hand, a feeble gesture of haste from a man no longer capable of hastening. His flesh was wrinkled and spotted,
    the skin so papery thin that he could see the web of veins and the shape of bones beneath. And how they trembled, these
    hands of his that had once been so sure and deft...
    When Pylos returned the girl came with him, shy as ever. Behind her, shuffling and hopping in that queer sideways walk
    of his, came her fool. On his head was a mock helm fashioned from an old tin bucket, with a rack of deer antlers
    strapped to the crown and hung with cowbells. With his every lurching step, the bells rang, each with a different voice,
    clang-a-dang bong-dong ring-a- ling clong clong clong.
    "Who comes to see us so early, Pylos?" Cressen said.
    "It's me and Patches, Maester." Guileless blue eyes blinked at him. Hers was not a pretty face, alas. The child had her
    lord father's square jut of jaw and her mother's unfortunate ears, along with a disfigurement all her own, the legacy of
    the bout of greyscale that had almost claimed her in the crib. Across half one cheek and well down her neck, her flesh
    was stiff and dead, the skin cracked and flaking, mottled black and grey and stony to the touch. "Pylos said we might
    see the white raven."
    "Indeed you may," Cressen answered. As if he would ever deny her. She had been denied too often in her time. Her name
    was Shireen. She would be ten on her next name day, and she was the saddest child that Maester Cressen had ever known.
    Her sadness is my shame, the old man thought, another mark of my failure. "Maester Pylos, do me a kindness and bring the
    bird down from the rookery for the Lady Shireen."
    "It would be my pleasure." Pylos was a polite youth, no more than five-and-twenty, yet solemn as a man of sixty. If only
    he had more humor, more life in him; that was what was needed here. Grim places needed lightening, not solemnity, and
    Dragonstone was grim beyond a doubt, a lonely citadel in the wet waste surrounded by storm and salt, with the smoking
    shadow of the mountain at its back. A maester must go where he is sent, so Cressen had come here with his lord some
    twelve years past, and he had served, and served well. Yet he had never loved Dragonstone, nor ever felt truly at home
    here. Of late, when he woke from restless dreams in which the red woman figured disturbingly, he often did not know
    where he was.