extends ../chapter

block page
  p.page.
    #[span.name.bran Bran&#39;s] bastard brother #[span.name.jon Jon Snow] moved closer. #[span.name.jon "Keep the pony well in hand,"] he whispered.
    #[span.name.jon "And don&#39;t look away. Father will know if you do."] #[span.name.bran Bran] kept his pony well in hand, and did not look away. His
    father took off the man&#39;s head with a single sure stroke. Blood sprayed out across the snow, as red as
    summerwine. One of the horses reared and had to be restrained to keep from bolting. #[span.name.bran Bran] could not take his
    eyes off the blood. The snows around the stump drank it eagerly, reddening as he watched. The head bounced off
    a thick root and rolled. It came up near #[span.name.theon Greyjoy&#39;s] feet. #[span.name.theon Theon] was a lean, dark youth of nineteen who found
    everything amusing. He laughed, put his boot on the head, and kicked it away. #[span.name.jon "Ass," Jon] muttered, low enough
    so #[span.name.theon Greyjoy] did not hear. He put a hand on #[span.name.bran Bran&#39;s] shoulder, and #[span.name.bran Bran] looked over at his bastard brother. 
    #[span.name.jon "You did well," Jon] told him solemnly. #[span.name.jon Jon] was fourteen, an old hand at justice. It seemed colder on the long ride
    back to Winterfell, though the wind had died by then and the sun was higher in the sky. #[span.name.bran Bran] rode with his
    brothers, well ahead of the main party, his pony struggling hard to keep up with their horses. 
    #[span.name.robb "The deserter died bravely," Robb] said. He was big and broad and growing every day, with his mother&#39;s coloring, the fair
    skin, red-brown hair, and blue eyes of the Tullys of Riverrun. #[span.name.robb "He had courage, at the least."] #[span.name.jon "No," Jon Snow]
    said quietly. #[span.name.jon "It was not courage. This one was dead of fear. You could see it in his eyes, Stark." Jon&#39;s] eyes
    were a grey so dark they seemed almost black, but there was little they did not see. He was of an age with
    #[span.name.robb Robb], but they did not look alike. #[span.name.jon Jon] was slender where #[span.name.robb Robb] was muscular, dark where #[span.name.robb Robb] was fair, graceful
    and quick where his half brother was strong and fast. #[span.name.robb Robb] was not impressed. #[span.name.robb "The Others take his eyes,"] he
    swore. #[span.name.robb "He died well. Race you to the bridge?"] #[span.name.jon "Done," Jon] said, kicking his horse forward. #[span.name.robb Robb] cursed and
    followed, and they galloped off down the trail, #[span.name.robb Robb] laughing and hooting, #[span.name.jon Jon] silent and intent. The hooves
    of their horses kicked up showers of snow as they went. #[span.name.bran Bran] did not try to follow. His pony could not keep
    up. He had seen the ragged man&#39;s eyes, and he was thinking of them now. After a while, the sound of #[span.name.robb Robb&#39;s]
    laughter receded, and the woods grew silent again. So deep in thought was he that he never heard the rest of
    the party until his father moved up to ride beside him. #[span.name.ned "Are you well, Bran?"] he asked, not unkindly. 
    #[span.name.bran "Yes, Father," Bran] told him. He looked up. Wrapped in his furs and leathers, mounted on his great warhorse, his
    lord father loomed over him like a giant. #[span.name.bran "Robb says the man died bravely, but Jon says he was afraid."] 
    #[span.name.ned "What do you think?"] his father asked. #[span.name.bran Bran] thought about it. #[span.name.bran "Can a man still be brave if he&#39;s afraid?"]