extends ../chapter

block page
  p(class='page').
    Bran's heart was thumping in his chest as he pushed through a
    waist-high drift to his brothers' side. Half-buried in bloodstained snow, a huge dark shape slumped in death.
    Ice had formed in its shaggy grey fur, and the faint smell of corruption clung to it like a woman's perfume.
    Bran glimpsed blind eyes crawling with maggots, a wide mouth full of yellowed teeth. But it was the size of it
    that made him gasp. It was bigger than his pony, twice the size of the largest hound in his father's kennel.
    "It's no freak," Jon said calmly. "That's a direwolf. They grow larger than the other kind." Theon Greyjoy
    said, "There's not been a direwolf sighted south of the Wall in two hundred years." "I see one now," Jon
    replied. Bran tore his eyes away from the monster. That was when he noticed the bundle in Robb's arms. He gave
    a cry of delight and moved closer. The pup was a tiny ball of grey-black fur, its eyes still closed. It
    nuzzled blindly against Robb's chest as he cradled it, searching for milk among his leathers, making a sad
    little whimpery sound. Bran reached out hesitantly. "Go on," Robb told him. "You can touch him." Bran gave the
    pup a quick nervous stroke, then turned as Jon said, "Here you go." His half brother put a second pup into his
    arms. "There are five of them." Bran sat down in the snow and hugged the wolf pup to his face. Its fur was
    soft and warm against his cheek. "Direwolves loose in the realm, after so many years," muttered Hullen, the
    master of horse. "I like it not." "It is a sign," Jory said. Father frowned. "This is only a dead animal,
    Jory," he said. Yet he seemed troubled. Snow crunched under his boots as he moved around the body. "Do we know
    what killed her?" "There's something in the throat," Robb told him, proud to have found the answer before his
    father even asked. "There, just under the jaw... His father knelt and groped under the beast's head with his
    hand. He gave a yank and held it up for all to see. A foot of shattered antler, tines snapped off, all wet
    with blood. A sudden silence descended over the party. The men looked at the antler uneasily, and no one dared
    to speak. Even Bran could sense their fear, though he did not understand. His father tossed the antler to the
    side and cleansed his hands in the snow. "I'm surprised she lived long enough to whelp," he said. His voice
    broke the spell. "Maybe she didn't," Jory said. "I've heard tales... maybe the bitch was already dead when the
    pups came." "Born with the dead," another man put in. "Worse luck." "No matter," said Hullen. "They be dead
    soon enough too." Bran gave a wordless cry of dismay. "The sooner the better," Theon Greyjoy agreed. He drew
    his sword. "Give the beast here, Bran."