extends ../chapter

block page
  p.page.
    #[span.name.bran Bran&#39;s] heart was thumping in his chest as he pushed through a
    waist-high drift to his brothers&#39; side. Half-buried in bloodstained snow, a huge dark shape slumped in death.
    Ice had formed in its shaggy grey fur, and the faint smell of corruption clung to it like a woman&#39;s perfume.
    #[span.name.bran Bran] glimpsed blind eyes crawling with maggots, a wide mouth full of yellowed teeth. But it was the size of it
    that made him gasp. It was bigger than his pony, twice the size of the largest hound in his father&#39;s kennel.
    #[span.name.jon "It&#39;s no freak," Jon] said calmly. #[span.name.jon "That&#39;s a direwolf. They grow larger than the other kind."] #[span.name.theon Theon Greyjoy]
    said, #[span.name.theon "There&#39;s not been a direwolf sighted south of the Wall in two hundred years."] #[span.name.jon "I see one now," Jon]
    replied. #[span.name.bran Bran] tore his eyes away from the monster. That was when he noticed the bundle in #[span.name.bran Robb&#39;s] arms. He gave
    a cry of delight and moved closer. The pup was a tiny ball of grey-black fur, its eyes still closed. It
    nuzzled blindly against #[span.name.robb Robb&#39;s] chest as he cradled it, searching for milk among his leathers, making a sad
    little whimpery sound. #[span.name.bran Bran] reached out hesitantly. #[span.name.robb "Go on," Robb] told him. #[span.name.robb "You can touch him."] #[span.name.bran Bran] gave the
    pup a quick nervous stroke, then turned as #[span.name.jon Jon] said, #[span.name.jon "Here you go."] His half brother put a second pup into his
    arms. #[span.name.jon "There are five of them."] #[span.name.bran Bran] sat down in the snow and hugged the wolf pup to his face. Its fur was
    soft and warm against his cheek. #[span.name.hullen "Direwolves loose in the realm, after so many years,"] muttered #[span.name.hullen Hullen], the
    master of horse. #[span.name.hullen "I like it not."] #[span.name.jory "It is a sign," Jory] said. Father frowned. 
    #[span.name.ned "This is only a dead animal, Jory,"] he said. Yet he seemed troubled. Snow crunched under his boots as he moved around the body. 
    #[span.name.ned "Do we know what killed her?"] #[span.name.robb "There&#39;s something in the throat," Robb] told him, proud to have found the answer before his
    father even asked. #[span.name.robb "There, just under the jaw..."] His father knelt and groped under the beast&#39;s head with his
    hand. He gave a yank and held it up for all to see. A foot of shattered antler, tines snapped off, all wet
    with blood. A sudden silence descended over the party. The men looked at the antler uneasily, and no one dared
    to speak. Even #[span.name.bran Bran] could sense their fear, though he did not understand. His father tossed the antler to the
    side and cleansed his hands in the snow. #[span.name.ned "I&#39;m surprised she lived long enough to whelp,"] he said. His voice
    broke the spell. #[span.name.jory "Maybe she didn&#39;t," Jory] said. #[span.name.jory "I&#39;ve heard tales... maybe the bitch was already dead when the pups came."]
    "Born with the dead," another man put in. "Worse luck." #[span.name.hullen "No matter,"] said #[span.name.hullen Hullen]. 
    #[span.name.hullen "They be dead soon enough too."] #[span.name.bran Bran] gave a wordless cry of dismay. #[span.name.theon "The sooner the better," Theon Greyjoy] agreed. 
    He drew his sword. #[span.name.theon "Give the beast here, Bran."]