extends ../chapter

block page
  p.page.
    The little thing squirmed against him, as if it heard and understood.
    #[span.name.bran "No!" Bran] cried out fiercely. #[span.name.bran "It&#39;s mine."] #[span.name.robb "Put away your sword, Greyjoy," Robb] said. For a moment he sounded
    as commanding as their father, like the lord he would someday be. #[span.name.robb "We will keep these pups."] 
    #[span.name.harwin "You cannot do that, boy,"] said #[span.name.harwin Harwin], who was #[span.name.hullen Hullen&#39;s] son. 
    #[span.name.hullen "It be a mercy to kill them," Hullen] said. #[span.name.bran Bran] looked to his
    lord father for rescue, but got only a frown, a furrowed brow. 
    #[span.name.ned "Hullen speaks truly, son. Better a swift death than a hard one from cold and starvation."]
    #[span.name.bran "No!"] He could feel tears welling in his eyes, and he looked away.
    He did not want to cry in front of his father. #[span.name.robb Robb] resisted stubbornly. 
    #[span.name.robb "Ser Rodrik&#39;s red bitch whelped again last week,"] he said. 
    #[span.name.robb "It was a small litter, only two live pups. She&#39;ll have milk enough."] 
    #[span.name.ned "She&#39;ll rip them apart when they try to nurse."]
    #[span.name.jon "Lord Stark," Jon] said. It was strange to hear him call Father that, so formal.
    #[span.name.bran Bran] looked at him with desperate hope. #[span.name.jon "There are five pups,"] he told Father. 
    #[span.name.jon "Three male, two female."] #[span.name.ned "What of it, Jon?"]
    #[span.name.jon "You have five trueborn children," Jon] said. 
    #[span.name.jon "Three sons, two daughters. The direwolf is the sigil of your House. Your children were meant to have these pups, my lord."]
    #[span.name.bran Bran] saw his father&#39;s face change, saw the other men exchange glances. 
    He loved #[span.name.jon Jon] with all his heart at that moment. Even at seven, #[span.name.bran Bran]
    understood what his brother had done. The count had come right only because #[span.name.jon Jon] had omitted himself. He had
    included the girls, included even Rickon, the baby, but not the bastard who bore the surname Snow, the name
    that custom decreed be given to all those in the north unlucky enough to be born with no name of their own.
    Their father understood as well. #[span.name.ned "You want no pup for yourself, Jon?"] he asked softly. 
    #[span.name.jon "The direwolf graces the banners of House Stark," Jon] pointed out. #[span.name.jon "I am no Stark, Father."] 
    Their lord father regarded #[span.name.jon Jon]
    thoughtfully. #[span.name.robb Robb] rushed into the silence he left. #[span.name.robb "I will nurse him myself, Father,"] he promised. 
    #[span.name.robb "I will soak a towel with warm milk, and give him suck from that."] #[span.name.bran "Me too!" Bran] echoed. The lord weighed his sons
    long and carefully with his eyes. 
    #[span.name.ned "Easy to say, and harder to do. I will not have you wasting the servants&#39; time with this. If you want these pups, you will feed them yourselves. Is that understood?"]
    #[span.name.bran Bran] nodded eagerly. The pup squirmed in his grasp, licked at his face with a warm tongue. #[span.name.ned "You must train them as well,"]
    their father said. <span class='name ned'>"You must train them. The kennelmaster will have nothing to do with these monsters, I
        promise you that. And the gods help you if you neglect them, or brutalize them, or train them badly. These are
        not dogs to beg for treats and slink off at a kick. A direwolf will rip a man&#39;s arm off his shoulder as easily
        as a dog will kill a rat. Are you sure you want this?"</span> 
    #[span.name.bran "Yes, Father," Bran] said. #[span.name.robb "Yes," Robb] agreed.