extends ../chapter

block page
  p(class='page').
    The little thing squirmed against him, as if it heard and understood.
    "No!" Bran cried out fiercely. "It's mine." "Put away your sword, Greyjoy," Robb said. For a moment he sounded
    as commanding as their father, like the lord he would someday be. "We will keep these pups." "You cannot do
    that, boy," said Harwin, who was Hullen's son. "It be a mercy to kill them," Hullen said. Bran looked to his
    lord father for rescue, but got only a frown, a furrowed brow. "Hullen speaks truly, son. Better a swift death
    than a hard one from cold and starvation." "No!" He could feel tears welling in his eyes, and he looked away.
    He did not want to cry in front of his father. Robb resisted stubbornly. "Ser Rodrik's red bitch whelped again
    last week," he said. "It was a small litter, only two live pups. She'll have milk enough." "She'll rip them
    apart when they try to nurse." "Lord Stark," Jon said. It was strange to hear him call Father that, so formal.
    Bran looked at him with desperate hope. "There are five pups," he told Father. "Three male, two female." "What
    of it, Jon?" "You have five trueborn children," Jon said. "Three sons, two daughters. The direwolf is the
    sigil of your House. Your children were meant to have these pups, my lord." Bran saw his father's face change,
    saw the other men exchange glances. He loved Jon with all his heart at that moment. Even at seven, Bran
    understood what his brother had done. The count had come right only because Jon had omitted himself. He had
    included the girls, included even Rickon, the baby, but not the bastard who bore the surname Snow, the name
    that custom decreed be given to all those in the north unlucky enough to be born with no name of their own.
    Their father understood as well. "You want no pup for yourself, Jon?" he asked softly. "The direwolf graces
    the banners of House Stark," Jon pointed out. "I am no Stark, Father." Their lord father regarded Jon
    thoughtfully. Robb rushed into the silence he left. "I will nurse him myself, Father," he promised. "I will
    soak a towel with warm milk, and give him suck from that." "Me too!" Bran echoed. The lord weighed his sons
    long and carefully with his eyes. "Easy to say, and harder to do. I will not have you wasting the servants'
    time with this. If you want these pups, you will feed them yourselves. Is that understood?" Bran nodded
    eagerly. The pup squirmed in his grasp, licked at his face with a warm tongue. "You must train them as well,"
    their father said. "You must train them. The kennelmaster will have nothing to do with these monsters, I
    promise you that. And the gods help you if you neglect them, or brutalize them, or train them badly. These are
    not dogs to beg for treats and slink off at a kick. A direwolf will rip a man's arm off his shoulder as easily
    as a dog will kill a rat. Are you sure you want this?" "Yes, Father," Bran said. "Yes," Robb agreed.