extends ../chapter

block page
	p(class='page').
		From its parapets his two eldest sons had watched as their father’s ship was smashed against the rocks and swallowed
		by the waters. A hundred oarsmen and sailors went down with Lord Steffon Baratheon and his lady wife, and for days
		thereafter every tide left a fresh crop of swollen corpses on the strand below Storm’s End.
		The boy washed up on the third day. Maester Cressen had come down with the rest, to help put names to the dead. When
		they found the fool he was naked, his skin white and wrinkled and powdered with wet sand. Cressen had thought him
		another corpse, but when Jornmy grabbed his ankles to drag him off to the burial wagon, the boy coughed water and sat
		up. To his dying day, Jornmy had sworn that Patchface’s flesh was clammy cold.
		No one ever explained those two days the fool had been lost in the sea. The fisherfolk liked to say a mermaid had taught
		him to breathe water in return for his seed. Patchface himself had said nothing. The witty, clever lad that Lord Steffon
		had written of never reached Storm’s End; the boy they found was someone else, broken in body and mind, hardly capable
		of speech, much less of wit. Yet his fool’s face left no doubt of who he was. It was the fashion in the Free City of
		Volantis to tattoo the faces of slaves and servants; from neck to scalp the boy’s skin had been patterned in squares
		of red and green motley.
		"The wretch is mad, and in pain, and no use to anyone, least of all himself," declared old Ser Harbert, the
		castellan of Storm’s End in those years. "The kindest thing you could do for that one is fill his cup with the milk
		of the poppy. A painless sleep, and there’s an end to it. He’d bless you if he had the wit for it." But Cressen
		had refused, and in the end he had won. Whether Patchface had gotten any joy of that victory he could not say, not even
		today, so many years later.
		"The shadows come to dance, my lord, dance my lord, dance my lord" the fool sang on, swinging his head and making
		his bells clang and clatter. Bong dong, ring-a-ling, bong dong.
		"Lord," the white raven shrieked. "Lord, lord, lord."
		"A fool sings what he will," the maester told his anxious princess. "You must not take his words to heart. On the
		morrow he may remember another song, and this one will never be heard again." He can sing prettily in four tongues,
		Lord Steffon had written...
		Pylos strode through the door. "Maester, pardons."
		"You have forgotten the porridge," Cressen said, amused. That was most unlike Pylos. "Maester, Ser Davos returned
		last night. They were talking of it in the kitchen. I thought you
		would want to know at once."
		"Davos... last night, you say? Where is he?"
		"With the king. They have been together most of the night."
		There was a time when Lord Stannis would have woken him, no matter the hour, to have him
		there to give his counsel. "I should have been told," Cressen complained. "I should have been woken." He
		disentangled his fingers from Shireen’s. "Pardons, my lady, but I must speak with your lord father. Pylos, give me
		your arm. There are too many steps in this castle, and it seems to me they add a few every night, just to vex me."