extends ../chapter

block page
  p(class='page').
    "The pups may die anyway, despite all you do." "They won't die," Robb said. "We won't let them die." "Keep them, then.
    Jory, Desmond, gather up the other pups. It's time we were back to Winterfell." It was not until they were
    mounted and on their way that Bran allowed himself to taste the sweet air of victory. By then, his pup was
    snuggled inside his leathers, warm against him, safe for the long ride home. Bran was wondering what to name
    him. Halfway across the bridge, Jon pulled up suddenly. "What is it, Jon?" their lord father asked. "Can't you
    hear it?" Bran could hear the wind in the trees, the clatter of their hooves on the ironwood planks, the
    whimpering of his hungry pup, but Jon was listening to something else. "There," Jon said. He swung his horse
    around and galloped back across the bridge. They watched him dismount where the direwolf lay dead in the snow,
    watched him kneel. A moment later he was riding back to them, smiling. "He must have crawled away from the
    others," Jon said. "Or been driven away," their father said, looking at the sixth pup. His fur was white,
    where the rest of the litter was grey. His eyes were as red as the blood of the ragged man who had died that
    morning. Bran thought it curious that this pup alone would have opened his eyes while the others were still
    blind. "An albino," Theon Greyjoy said with wry amusement. "This one will die even faster than the others."
    Jon Snow gave his father's ward a long, chilling look. "I think not, Greyjoy," he said. "This one belongs to
    me." 