extends ../chapter

block page
  p.page.
    #[span.name.ned "The pups may die anyway, despite all you do."] #[span.name.robb "They won't die," Robb] said. 
    #[span.name.robb "We won't let them die."] #[span.name.ned "Keep them, then. Jory, Desmond, gather up the other pups. It's time we were back to Winterfell."]
    It was not until they were
    mounted and on their way that #[span.name.bran Bran] allowed himself to taste the sweet air of victory. By then, his pup was
    snuggled inside his leathers, warm against him, safe for the long ride home. #[span.name.bran Bran] was wondering what to name
    him. Halfway across the bridge, #[span.name.jon Jon] pulled up suddenly. #[span.name.ned "What is it, Jon?"] their lord father asked. 
    #[span.name.jon "Can't you hear it?"] #[span.name.bran Bran] could hear the wind in the trees, the clatter of their hooves on the ironwood planks, the
    whimpering of his hungry pup, but #[span.name.jon Jon] was listening to something else. #[span.name.jon "There," Jon] said. He swung his horse
    around and galloped back across the bridge. They watched him dismount where the direwolf lay dead in the snow,
    watched him kneel. A moment later he was riding back to them, smiling. #[span.name.jon "He must have crawled away from the others," Jon] said. 
    #[span.name.ned "Or been driven away,"] their father said, looking at the sixth pup. His fur was white,
    where the rest of the litter was grey. His eyes were as red as the blood of the ragged man who had died that
    morning. #[span.name.bran Bran] thought it curious that this pup alone would have opened his eyes while the others were still
    blind. #[span.name.theon "An albino," Theon Greyjoy] said with wry amusement. #[span.name.theon "This one will die even faster than the others."]
    #[span.name.jon Jon Snow] gave his father's ward a long, chilling look. #[span.name.theon "I think not, Greyjoy,"] he said. 
    #[span.name.jon "This one belongs to me."]