extends ../chapter

block page
	p(class='page').
		The man shook his head. "It is as you warned him. They will not rise, Maester. Not for him. They do not love him."
		No, Cressen thought. Nor will they ever. He is strong, able, just... aye, just past the point of wisdom... yet it is not
		enough. It has never been enough. "You spoke to them all?"
		"All? No. Only those that would see me. They do not love me either, these highborns. To them I’ll always be the
		Onion Knight." His left hand closed, stubby fingers locking into a fist; Stannis had hacked the ends off at the last
		joint, all but the thumb. "I broke bread with Gulian Swann and old Penrose, and the Tarths consented to a midnight
		meeting in a grove. The others-well, Beric Dondarrion is gone missing, some say dead, and Lord Caron is with Renly.
		Bryce the Orange, of the Rainbow Guard."
		"The Rainbow Guard?"
		"Renly’s made his own Kingsguard," the onetime smuggler explained, "but these seven don’t wear white. Each one
		has his own color. Loras Tyrell’s their Lord Commander."
		It was just the sort of notion that would appeal to Renly Baratheon; a splendid new order of knighthood, with gorgeous
		new raiment to proclaim it. Even as a boy, Renly had loved bright colors and rich fabrics, and he had loved his games as
		well. "Look at me!" he would shout as he ran laughing through the halls of Storm’s End. "Look at me, I’m a
		dragon," or "Look at me, I’m a wizard," or "Look at me, look at me, I’m the rain god."
		The bold little boy with wild black hair and laughing eyes was a man grown now, one-and- twenty, and still he played his
		games. Look at me, I’m a king, Cressen thought sadly. Oh, Renly, Renly, dear sweet child, do you know what you are
		doing? And would you care if you did? Is there anyone who cares for him but me? "What reasons did the lords give for
		their refusals?" he asked Ser Davos.
		"Well, as to that, some gave me soft words and some blunt, some made excuses, some promises, some only lied." He
		shrugged. "In the end words are just wind."
		"You could bring him no hope?"
		"Only the false sort, and I’d not do that," Davos said. "He had the truth from me."
		Maester Cressen remembered the day Davos had been knighted, after the siege of Storm’s End.
		Lord Stannis and a small garrison had held the castle for close to a year, against the great host of the Lords Tyrell
		and Redwyne. Even the sea was closed against them, watched day and night by Redwyne galleys flying the burgundy banners
		of the Arbor. Within Storm’s End, the horses had long since been eaten, the dogs and cats were gone, and the garrison
		was down to roots and rats. Then came a night when the moon was new and black clouds hid the stars. Cloaked in that
		darkness, Davos the smuggler had dared the Redwyne cordon and the rocks of Shipbreaker Bay alike. His little ship had a
		black hull, black sails, black oars, and a hold crammed with onions and salt fish. Little enough, yet it had kept the
		garrison alive long enough for Eddard Stark to reach Storm’s End and break the siege.
		Lord Stannis had rewarded Davos with choice lands on Cape Wrath, a small keep, and a knight’s honors... but he had
		also decreed that he lose a joint of each finger on his left hand, to pay for all his years of smuggling. Davos had
		submitted, on the condition that Stannis wield the