extends ../chapter

block page
  p.page.
    A thousand years of humus lay thick upon the godswood floor, swallowing the sound of her feet, but the red eyes of the
    weirwood seemed to follow her as she came. #[span.name.catelyn "Ned,"] she called softly. He lifted his head to look at her.
    #[span.name.ned "Catelyn,"] he said. His voice was distant and formal. #[span.name.ned "Where are the children?"] He would always ask her that.
    #[span.name.catelyn "In the kitchen, arguing about names for the wolf pups."] She spread her cloak on the forest floor and sat
    beside the pool, her back to the weirwood. She could feel the eyes watching her, but she did her best to
    ignore them. #[span.name.catelyn "Arya is already in love, and Sansa is charmed and gracious, but Rickon is not quite sure."]
    #[span.name.ned "Is he afraid?" Ned] asked. #[span.name.catelyn "A little,"] she admitted. #[span.name.catelyn "He is only three."] 
    #[span.name.ned Ned] frowned. #[span.name.ned "He must learn to face his fears. He will not be three forever. And winter is coming."] 
    #[span.name.catelyn "Yes," Catelyn] agreed. The words gave her a chill,
    as they always did. The Stark words. Every noble house had its words. Family mottoes, touchstones, prayers of
    sorts, they boasted of honor and glory, promised loyalty and truth, swore faith and courage. All but the
    Starks. Winter is coming, said the Stark words. Not for the first time, she reflected on what a strange people
    these northerners; were. #[span.name.ned "The man died well, I'll give him that," Ned] said. He had a swatch of oiled leather
    in one hand. He ran it lightly up the greatsword as he spoke, polishing the metal to a dark glow. 
    #[span.name.ned "I was glad for Bran&#39;s sake. You would have been proud of Bran."] #[span.name.catelyn "I am always proud of Bran," Catelyn] replied, watching
    the sword as he stroked it. She could see the rippling deep within the steel, where the metal had been folded
    back on itself a hundred times in the forging. #[span.name.catelyn Catelyn] had no love for swords, but she could not deny that Ice
    had its own beauty. It had been forged in Valyria, before the Doom had come to the old Freehold, when the
    ironsmiths had worked their metal with spells as well as hammers. Four hundred years old it was, and as sharp
    as the day it was forged. The name it bore was older still, a legacy from the age of heroes, when the Starks
    were Kings in the North. #[span.name.ned "He was the fourth this year," Ned] said grimly. 
    #[span.name.ned "The poor man was half-mad. Something had put a fear in him so deep that my words could not reach him."] He sighed. 
    #[span.name.ned "Ben writes that the strength of the Night's Watch is down below a thousand. It's not only desertions. They are losing men on rangings as well."]
    #[span.name.catelyn "Is it the wildlings?"] she asked. #[span.name.ned "Who else?" Ned] lifted Ice, looked down the cool steel length of it.
    #[span.name.ned "And it will only grow worse. The day may come when I will have no choice but to call the banners and ride north to deal with this King-beyond-the-Wall for good and all."] 
    #[span.name.catelyn "Beyond the Wall?"] The thought made #[span.name.catelyn Catelyn]
    shudder. #[span.name.ned Ned] saw the dread on her face. #[span.name.ned "Mance Rayder is nothing for us to fear."] 
    #[span.name.catelyn "There are darker things beyond the Wall."] She glanced behind her at the heart tree, the pale bark and red eyes, watching, listening,
    thinking its long slow thoughts.