extends ../chapter

block page
	p(class='page').
		knife himself; he would accept no punishment from lesser hands. The lord had used a butcher’s cleaver, the better to
		cut clean and true. Afterward, Davos had chosen the name Seaworth for his new-made house, and he took for his banner a
		black ship on a pale grey field-with an onion on its sails. The onetime smuggler was fond of saying that Lord Stannis
		had done him a boon, by giving him four less fingernails to clean and trim.
		No, Cressen thought, a man like that would give no false hope, nor soften a hard truth. "Ser Davos, truth can be a
		bitter draught, even for a man like Lord Stannis. He thinks only of returning to King’s Landing in the fullness of his
		power, to tear down his enemies and claim what is rightfully his. Yet now..."
		"if he takes this meager host to King’s Landing, it will be only to die. He does not have the numbers. I told him as
		much, but you know his pride." Davos held up his gloved hand. "My fingers will grow back before that man bends to
		sense."
		The old man sighed. "You have done all you could. Now I must add my voice to yours." Wearily, he resumed his climb.
		Lord Stannis Baratheon’s refuge was a great round room with walls of bare black stone and four tall narrow windows
		that looked out to the four points of the compass. In the center of the chamber was the great table from which it took
		its name, a massive slab of carved wood fashioned at the command of Aegon Targaryen in the days before the Conquest. The
		Painted Table was more than fifty feet long, perhaps half that wide at its widest point, but less than four feet across
		at its narrowest. Aegon’s carpenters had shaped it after the land of Westeros, sawing out each bay and peninsula until
		the table nowhere ran straight. On its surface, darkened by near three hundred years of varnish, were painted the Seven
		Kingdoms as they had been in Aegon’s day; rivers and mountains, castles and cities, lakes and forests.
		There was a single chair in the room, carefully positioned in the precise place that Dragonstone occupied off the coast
		of Westeros, and raised up to give a good view of the tabletop. Seated in the chair was a man in a tight-laced leather
		jerkin and breeches of roughspun brown wool. When Maester Cressen entered, he glanced up. "I knew you would come, old
		man, whether I summoned you or no." There was no hint of warmth in his voice; there seldom was.
		Stannis Baratheon, Lord of Dragonstone and by the grace of the gods rightful heir to the Iron Throne of the Seven
		Kingdoms of Westeros, was broad of shoulder and sinewy of limb, with a tightness to his face and flesh that spoke of
		leather cured in the sun until it was as tough as steel. Hard was the word men used when they spoke of Stannis, and hard
		he was. Though he was not yet five-and-thirty, only a fringe of thin black hair remained on his head, circling behind
		his ears like the shadow of a crown. His brother, the late King Robert, had grown a beard in his final years. Maester
		Cressen had never seen it, but they said it was a wild thing, thick and flerce. As if in answer, Stannis kept his own
		whiskers cropped tight and short. They lay like a blue-black shadow across his square jaw and the bony hollows of his
		cheeks. His eyes were open wounds beneath his heavy brows, a blue as dark as the sea by night. His mouth would have
		given despair to even the drollest of fools; it was a mouth made for frowns and scowls and sharply worded commands, all
		thin pale lips and clenched muscles, a mouth that had forgotten how to smile and