extends ../chapter

block page
  p.page.
    His smile was gentle. <span class='name ned'>"You listen to too many of Old Nan's stories. The
        Others are as dead as the children of the forest, gone eight thousand years. Maester Luwin will tell you they
        never lived at all. No living man has ever seen one."</span> 
    #[span.name.catelyn "Until this morning, no living man had ever seen a direwolf either," Catelyn] reminded him. 
    #[span.name.ned "I ought to know better than to argue with a Tully,"] he said with a
    rueful smile. He slid Ice back into its sheath. 
    #[span.name.ned "You did not come here to tell me crib tales. I know how little you like this place. What is it, my lady?"]
    #[span.name.catelyn Catelyn] took her husband&#39;s hand. 
    #[span.name.catelyn "There was grievous news today, my lord. I did not wish to trouble you until you had cleansed yourself."]
    There was no way to soften the
    blow, so she told him straight. #[span.name.catelyn "I am so sorry, my love. Jon Arryn is dead."] His eyes found hers, and she
    could see how hard it took him, as she had known it would. In his youth, #[span.name.ned Ned] had fostered at the Eyrie, and
    the childless Lord Arryn had become a second father to him and his fellow ward, #[span.name.rob Robert Baratheon]. When the Mad
    King Aerys Targaryen had demanded their heads, the Lord of the Eyrie had raised his moon-and-falcon banners in
    revolt rather than give up those he had pledged to protect. And one day fifteen years ago, this second father
    had become a brother as well, as he and #[span.name.ned Ned] stood together in the sept at Riverrun to wed two sisters, the
    daughters of Lord Hoster Tully. #[span.name.ned "Jon..."] he said. #[span.name.ned "Is this news certain?"] 
    <span class='name catelyn'>"It was the king's seal, and the
         letter is in Robert's own hand. I saved it for you. He said Lord Arryn was taken quickly. Even Maester
         Pycelle was helpless, but he brought the milk of the poppy, so Jon did not linger long in pain."</span> 
    #[span.name.ned "That is some small mercy, I suppose,"] he said. She could see the grief on his face, but even then he thought first of her.
    #[span.name.ned "Your sister,"] he said. #[span.name.ned "And Jon&#39;s boy. What word of them?"] 
    #[span.name.catelyn "The message said only that they were well, and had returned to the Eyrie," Catelyn] said. 
    <span class='name catelyn'>"I wish they had gone to Riverrun instead. The Eyrie is high and lonely, and it was ever her husband's place, not hers. 
             Lord Jon's memory will haunt each stone. I know my
             sister. She needs the comfort of family and friends around her."</span>
    #[span.name.ned "Your uncle waits in the Vale, does he not? Jon named him Knight of the Gate, I&#39;d heard."] #[span.name.catelyn Catelyn] nodded. 
    #[span.name.catelyn "Brynden will do what he can for her, and for the boy. That is some comfort, but still..."]
    #[span.name.ned "Go to her," Ned] urged. <span class='name ned'>"Take the children. Fill her halls with
        noise and shouts and laughter. That boy of hers needs other children about him, and Lysa should not be alone
        in her grief."</span> 
    #[span.name.catelyn "Would that I could," Catelyn] said. #[span.name.catelyn "The letter had other tidings. The king is riding to Winterfell to seek you out."] 
    It took #[span.name.ned Ned] a moment to comprehend her words, but when the understanding came,
    the darkness left his eyes. #[span.name.ned "Robert is coming here?"] When she nodded, a smile broke across his face. #[span.name.catelyn Catelyn]
    wished she could share his joy. But she had heard the talk in the yards; a direwolf dead in the snow, a broken
    antler in its throat. Dread coiled within her like a snake, but she forced herself to smile at this man she
    loved, this man who put no faith in signs. #[span.name.catelyn "I knew that would please you,"] she said. 
    #[span.name.catelyn "We should send word to your brother on the Wall."]