extends ../chapter

block page
  div
    h3 Book 1 Chapter 1
    p.page.
      #[span.name.bran Bran Stark]
      #[span.name.ned Eddard Stark]
      #[span.name.hullen Hullen]
      #[span.name.jon Jon Snow]
      #[span.name.jory Jory Cassel]
      #[span.name.robb Robb Stark]
      #[span.name.theon Theon Greyjoy]
      #[span.name.catelyn Catelyn]
      #[span.name.rob Robert Baratheon]
      
      #[span.name.harwin Harwin]